/* Colors */

/* --accent-color: #4D5AE5;
 --dark-background-color: #2E2F42;
 --main-background-color: #FFFFFF; 
 --light-background-color: #F4F4FD;
 --light-accent-color: #E7E9FC;
 --text-color: #434455 */

:root {
  --accent-color: #4d5ae5;
  --dark-background-color: #2e2f42;
  --main-background-color: #ffffff;
  --light-background-color: #f4f4fd;
  --light-accent-color: #e7e9fc;
  --text-color: #434455;
  --active: #404bbf;
}

body {
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo .logo-part {
  color: var(--dark-background-color);
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-background-color);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--active);
}

.address {
  font-style: normal;
  font-size: 1.5;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.address:hover,
.address:focus {
  color: var(--active);
}

/* Hero */

.hero {
  background-color: var(--dark-background-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-background-color);
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--active);
  cursor: pointer;
}

/* Advantages */

.title-hidden {
  display: none;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-background-color);
}

.advantages-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-section {
  background-color: var(--light-background-color);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-background-color);
}

.employee-card {
  background-color: var(--main-background-color);
}
.employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-background-color);
}

.possition {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Footer */

.footer {
  background-color: var(--dark-background-color);
}

.logo-part-bottom {
  color: var(--light-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
}

/* Portfolio */

.portfolio-title {
  display: none;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--light-background-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--main-background-color);
  background-color: var(--active);
  cursor: pointer;
}

.cart-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-background-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
